@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fontes*/

h1, h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

h3{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

p{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*Geral*/

body{
    background-color: #0a1128;
}

main{
    margin: 0 130px 0 ;
    height: auto;
    background-color: #f5f5f5;
    border-radius: 30px;
}

/*Botão*/

#return {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#return button{
    padding: 20px;
    border: 1px solid #0a1128;
    border-radius: 18px;
    background-color: #f5f5f5;
    transition: 0.5s;
}

#return button a{
    color: #0a1128;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700px;
    padding: 20px;
}

#return button:hover{
    background-color: #001f54;
    color: #f5f5f5;
    border: 2px solid #034078;
    a{
        color: #034078;
    }
}


/*Sobre mim*/


#about {
    margin: 20px 100px 0 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#about .block{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#about h1{
    padding: 10px 0 0 0 ;
    font-size: 60px;
}

#about p{
    margin: 20px 50px;
    font-size: 20px;
    text-align: justify;
}   

#about img{
    width: 350px;
    border-radius: 200px;
}

#media{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#media i{
    color: #0a1128;
    font-size: 70px;
    padding: 20px;
}